<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yvime.pipi">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="O2O GO"
        android:roundIcon="@mipmap/barcode"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.INFO" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectPage"></activity>
        <activity android:name=".Informationview.Qrcode" />
        <activity android:name=".Top.Top" />
        <activity android:name=".Informationview.Things_informations" />
        <activity android:name=".shoppingcartview.Shoppingcart">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.INFO" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".Informationview.Vote" />
        <activity android:name=".shoppingcartview.pay" />
        <activity android:name=".pre.preorder.Preorder" />
        <activity android:name=".pre.preshoppinglist.pre_shoppinglist" />
        <activity android:name=".offline_access" />
        <activity android:name=".LOGIN" />
        <activity android:name=".SETTING" />
        <activity android:name=".login2" />
        <activity android:name=".first">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>